@use "../variables";

.work-card {
  position: relative;
  padding-block: 2rem;
  padding-inline: 2rem;
  border-radius: 1.15vw;
  cursor: pointer;
  transition: filter variables.$transition, background-color variables.$transition, box-shadow variables.$transition;

  &:hover {
    background-color: rgba(30, 41, 59, .15);
    --tw-drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, .04)) drop-shadow(0 4px 3px rgba(0, 0, 0, .1));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    box-shadow: 0 0 15px 0 rgba(57, 63, 80, 0.4);
  }

  &__link {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__body {
    display: grid;
    grid-template-columns: 12rem calc(100% - 17rem);
    gap: 0 5rem;
  }

  &__period {

    span {
      color: #64748BFF;
      font-size: 1.5rem;
    }
  }

  &__info {
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 0 .3rem;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: .35rem;
      height: .35rem;
      background-color: variables.$text-secondary;
      border-radius: 100%;
      margin-inline: 1rem;
      pointer-events: none;
    }

    p {
      font-weight: 600;
      font-size: 2rem;
      color: variables.$text;
    }
  }

  &__position {
  }

  &__workplace {
  }

  &__text {
    margin-top: 1.5rem;

    p {
      line-height: 1.5;
      color: variables.$text-secondary;
      font-size: 1.5rem;
      font-weight: 500;
    }

    p + p {
      margin-top: 1vw;
    }
  }

  &__tags {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem 2rem;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1.25rem;
      font-weight: 500;
      padding-block: 1rem;
      padding-inline: 3rem;
      border-radius: 2.5rem;
      white-space: nowrap;



      @media (prefers-color-scheme: dark) {
        background-color: rgba(45, 212, 191, .1);
        color: rgb(94 234 212);
      }

      @media (prefers-color-scheme: light) {
        background-color: rgba(#2dd4bf, .85);
        color: #fff;
      }
    }
  }
}