@use "../variables";
@use "../breakpoints";

.page-main {
  background-color: variables.$background;
  display: flex;
  flex-direction: column;

  &__conainer {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-block: 10vw;

    @include breakpoints.semiDesktop {
      padding-block: 0;
    }
  }

  &__grid {
    flex: 1;
    display: grid;
    grid-template-columns: 100%;
    gap: 8vw 0;

    @include breakpoints.tablet {
      gap: 5vw 0;
    }

    @include breakpoints.semiDesktop {
      grid-template-columns: auto auto;
      justify-content: space-between;
      gap: 0 4vw;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;


    @include breakpoints.semiDesktop {
      position: sticky;
      top: 3rem;
      max-height: calc(100vh - 3rem);
      max-width: 50rem;
      padding-block: 8rem 3rem;
    }

    &--top {}
    &--bottom {}
  }

  &__right {


    @include breakpoints.semiDesktop {
      max-width: 70rem;
      padding-block: 10rem;
    }

    section + section {
      margin-top: 4vw;
    }
  }

  &__author {

    &--title {
      font-weight: 700;
      letter-spacing: -.025em;
      font-size: 6rem;
      line-height: 1;
    }

    &--post {
      margin-top: .5rem;
      font-weight: 600;
      font-size: 3rem;
    }

    &--description {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.55;
      color: variables.$text-secondary;
      max-width: 40rem;
    }
  }

}


.menu {
  display: none;

  @include breakpoints.semiDesktop {
    margin-top: 10rem;
    display: block;
  }

  &__list {

    display: flex;
    flex-direction: column;
    gap: 1rem;

  }

  &__item {
    button {
      display: inline-flex;
      align-items: center;
      gap: .5rem;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 700;
      color: variables.$text;
      padding-block: .5rem;

      span {
        height: 2px;
        width: 3rem;
        background-color: variables.$text;
        transition: width variables.$transition;
      }

      &:hover {

        span {
          width: 5rem;
        }
      }
    }
  }
}

.socials {

  &__list {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__item {
    a {

      svg {
        width: 3rem;
        height: 3rem;
        color: variables.$text;
      }
    }
  }
}

.description {

  p {
    font-size: 3.85vw;
    line-height: 1.6;
    color: variables.$grey;

    @include breakpoints.tablet {
      font-size: 2vw;
    }

    @include breakpoints.semiDesktop {
      font-size: 1.15vw;
    }
  }

  p + p {
    margin-top: 2vw;
  }
}

.work-list {

  li + li {
    margin-top: 2vw;
  }
}