@use "../variables";
@use "../breakpoints";

.page-main {
  background-color: variables.$background;
  display: flex;
  flex-direction: column;

  &__conainer {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-block: 5rem 10rem;

    @include breakpoints.semiDesktop {
      padding-block: 0;
    }
  }

  &__grid {
    flex: 1;
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem 0;

    @include breakpoints.tablet {
      gap: 5rem 0;
    }

    @include breakpoints.semiDesktop {
      grid-template-columns: auto 1fr;
      justify-content: space-between;
      gap: 0 4rem;
    }

    @include breakpoints.desktop {
      grid-template-columns: auto .85fr;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;


    @include breakpoints.semiDesktop {
      position: sticky;
      top: 3rem;
      max-height: calc(100vh - 3rem);
      max-width: 50rem;
      padding-block: 8rem 3rem;
    }

    &--top {}
    &--bottom {}
  }

  &__right {

    @include breakpoints.semiDesktop {
      max-width: 70rem;
      padding-block: 10rem;
    }

    section + section {
      margin-top: 3rem;

      @include breakpoints.mobile-normal {
        margin-top: 5rem;
      }

      @include breakpoints.tablet {
        margin-top: 10rem;
      }
    }
  }

  &__author {
    @include breakpoints.mobile-normal {
      max-width: 30rem;
    }

    @include breakpoints.desktop {
      max-width: 40rem;
    }

    &--title {
      font-weight: 700;
      letter-spacing: -.025em;
      font-size: 4.2rem;
      line-height: 1;

      @include breakpoints.tablet {
        font-size: 5rem;
      }

      @include breakpoints.desktop {
        font-size: 6rem;
      }
    }

    &--post {
      margin-top: .5rem;
      font-weight: 600;
      font-size: 2.2rem;

      @include breakpoints.tablet {
        font-size: 3rem;
      }
    }

    &--address {
      display: block;
      margin-top: 1.5rem;
      font-weight: 600;
      font-size: 1.6rem;
      color: variables.$accent;

      @include breakpoints.tablet {
        font-size: 2rem;
      }
    }

    &--description {
      margin-top: 1rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.55;
      color: variables.$text-secondary;

      @include breakpoints.tablet {
        font-size: 2rem;
      }
    }
  }

}


.menu {
  display: none;

  @include breakpoints.semiDesktop {
    margin-top: 10rem;
    display: block;
  }

  &__list {

    display: flex;
    flex-direction: column;
    gap: 1rem;

  }

  &__item {
    button {
      display: inline-flex;
      align-items: center;
      gap: .5rem;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 700;
      color: variables.$text;
      padding-block: .5rem;

      span {
        height: 2px;
        width: 3rem;
        background-color: variables.$text;
        transition: width variables.$transition;
      }

      &.active,
      &:hover {
        span {
          width: 5rem;
        }
      }
    }
  }
}

.socials {

  &__list {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__item {
    a {
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {

        svg {
          transform: scale(1.1);
        }
      }

      svg {
        width: 3rem;
        height: 3rem;
        color: variables.$text;
      }
    }
  }
}

.description {

  p {
    font-size: 1.4rem;
    line-height: 1.6;
    color: variables.$grey;

    @include breakpoints.tablet {
      font-size: 1.6rem;
    }

    @include breakpoints.semiDesktop {
      font-size: 2rem;
    }
  }

  p + p {
    margin-top: 2rem;
  }
}

.work-list {

  li + li {
    margin-top: 2vw;
  }
}

.projects {

  &__list {

    li {

    }

    & > li + li {
      margin-top: 1rem;

      @include breakpoints.tablet {
        margin-top: 2rem;
      }
    }
  }
}
