@use "variables";
@use "breakpoints";

/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  letter-spacing: inherit;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  //overflow-x: hidden;

  &.block {
    overflow: hidden;
  }
}

body, html {
  font-size: 10px;
  scroll-behavior: smooth;
  color: variables.$black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 30rem;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  font-family: variables.$ff-main;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: variables.$text;
}

span, p, a, h1, h2, h3, h4, h5, h6 {
  transition: color variables.$transition;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 147rem;
  padding-inline: 1.5rem;

  @include breakpoints.tablet {
    padding-inline: 2rem;
  }
}

button {
  transition: all variables.$transition;
}

.icon {
  transition: all variables.$transition;
}