@use "breakpoints";
@use "variables";

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.25rem;
  font-weight: 500;
  padding-block: 1rem;
  padding-inline: 3rem;
  border-radius: 2.5rem;
  white-space: nowrap;



  @media (prefers-color-scheme: dark) {
    background-color: rgba(45, 212, 191, .1);
    color: rgb(94 234 212);
  }

  @media (prefers-color-scheme: light) {
    background-color: rgba(#2dd4bf, .85);
    color: #fff;
  }
}