@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$ff-main: "Inter", sans-serif;
$transition: .3s ease-in-out;
$transition2: .5s ease-in-out;
$radius5: .5rem;
$radius20: 2rem;

:root {
  --background: #efefef;
  --background-revers: #182232;
  --text: #182232;
  --text-secondary: #212937;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #182232;
    --background-revers: #dcdcdc;
    --text: #ffffff;
    --text-secondary: #eaeaea;
  }
}


//colors
$accent: #393f50;
$light: rgba(255, 238, 208, 0.4);
$white: #ffffff;
$black: #444;
$grey-light: #eaeaea;
$grey: #434343;
$colorPrimary: #004c9d;
$colorPrimaryDark: #182232;
$colorSecondary: #f8f8f8;

$background: var(--background);
$background-revers: var(--background-revers);
$text: var(--text);
$text-secondary: var(--text-secondary);


$borderRadius5: .5rem;
$borderRadius10: 1rem;
$borderRadius12: 1.2rem;
$borderRadius15: 1.5rem;
$borderRadius20: 2rem;
$borderRadius30: 3rem;